@import "_variables.scss";


main {
//  height: 100vh;
  min-height: 688px;
  position: relative;
  overflow: hidden;

  .aboutme {
    background-size: contain;
    height: 400px;
    float: left;
    transform: translateX(-100vh);
    transition: 1s;
  }

  .aboutme.active {
    transform: translateX(0);
  }


  .aboutTitleContainer {
    @include media-query(sm){
      width: 200px;
      margin: auto;
    }
    @include media-query(xs){
      width: 200px;
      margin: auto;
    }
  }


  .aboutTitle {
    width: 200px;
    transition: 1s;
  }


  .aboutTitle.active {
    height: 75px;
  }

  h2.text {
    font-size: 30px;
    text-align: center;
     color: white;
     background: rgba(0, 0, 0, 0.603);
    z-index: 999;
    @include media-query(md) {
      display: inline-block;
    //  color: red;
    }

    @include media-query(md) {
      display: block;
   //   color: red;
    }
  }
  
  .content {
    position: relative;
    color: white;
  }
}


main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  background-image: url(/images/carbon.jpg);
}

