#experience {
    min-height: 500px;
    background-color: aqua;
}

.clip, .clip2 {
    height: 250px;
    background-color: #16222a;
    clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 40%)
}

.clip2 {
    clip-path: polygon(100% 0%, 0% 75%, 0% 100%, 100% 100%);
}

.clip p, .clip2 p{
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 32px;
    padding-top: 50px;
    font-weight: bold;
}

.clip2 p {
    padding-top: 170px;
}

 .titleExperience p:nth-last-of-type(3n), .education p:nth-last-of-type(3n) {
    font-size: 18px;
    font-weight: bold;

}

.titleExperience p:nth-last-of-type(3n+2) {
    font-size: 16px;
    font-weight: bold
}

.titleExperience p:nth-last-of-type(3n+1) {
        font-size: 14px;
        margin-bottom: 50px;
        
}

.titleExperience, .education {
   text-align: center;
}



.clip2 {
    height: 250px;
    background-color: #16222a;
    clip-path: polygon(100% 0%, 0% 75%, 0% 100%, 100% 100%);
}