
// Fluter
  
.swiperSlideFlutter img{
    height: 120px;
}


.title-flutter {
  font-size: 30px;
  margin: 35px 100px 10px 100px  ;
}

.description-flutter{
  margin-left: 50px;
}

// Front

.mySwiperCss {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiperSlideCss {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  background-color: rgb(65, 65, 65) ;
}

.swiperSlideCss img {
  display: block;
  width: 50%;
  height: 50%;
  margin-left: 50px;
  margin-top: 25px;
}

.title-css {
  font-size: 30px;
  margin-left: 75px;
  margin-top: 15px;
  color: white;
}

.title-css2 {
  font-size: 30px;
  margin-left: 45px;
  margin-top: 15px;
  color: white;
}


