$breakpoints: (
    xs: (max-width: 576px),
    sm: (min-width: 576px),
    md: (min-width: 768px),
    lg: (min-width: 992px),
    xl: (min-width: 1200px),
    xxl: (min-width: 1400),
);


@mixin media-query($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);
  @if($size) {
    @media  #{$size} {
        @content;
    }
  }
  @else {
      @error '"#{$breakpoint}" - Incorrect values was entered';
  }
}

